In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Load Data

In [50]:
#read test and train data
train=pd.read_csv('train_users_2.csv')
test= pd.read_csv('test_users.csv')

In [51]:
print (train.shape)
train.head()

(213451, 16)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [52]:
print(test.shape)
test.head()

(62096, 15)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,20140701000006,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,20140701000051,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,2014-07-01,20140701000148,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,2014-07-01,20140701000215,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,2014-07-01,20140701000305,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari

In [53]:
users=train.copy()
new=test.copy()
apperance=pd.concat((users.country_destination.value_counts(), users.country_destination.value_counts()/users.shape[0]), axis=1)
apperance.columns = ['numbers','possibility']
print(apperance)

       numbers  possibility
NDF     124543     0.583473
US       62376     0.292226
other    10094     0.047290
FR        5023     0.023532
IT        2835     0.013282
GB        2324     0.010888
ES        2249     0.010536
CA        1428     0.006690
DE        1061     0.004971
NL         762     0.003570
AU         539     0.002525
PT         217     0.001017

In [54]:
# missing data,replace unknown by NaN
users.gender.replace('-unknown-', np.nan, inplace=True)
new.gender.replace('-unknown-', np.nan, inplace=True)
#remove'id' 
users.drop('id',axis=1,inplace=True)
new.drop('id',axis=1,inplace=True)
users.head()

,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,2010-06-28,20090319043255,NaN,NaN,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,2010-09-14,20091208061105,2010-02-18,NaN,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [55]:
agb= pd.read_csv('age_gender_bkts.csv')
countries = pd.read_csv('countries.csv')
countries

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06
5,GB,54.633220,-3.432277,6883.6590,243610.0,eng,0.00
6,IT,41.873990,12.564167,8636.6310,301340.0,ita,89.40
7,NL,52.133057,5.295250,7524.3203,41543.0,nld,63.22
8,PT,39.553444,-7.839319,7355.2534,92090.0,por,95.45
9,US,36.966427,-95.844030,0.0000,9826675.0,eng,0.00

In [56]:
(users.isnull().sum() / users.shape[0])*100

date_account_created        0.000000
timestamp_first_active      0.000000
date_first_booking         58.347349
gender                     44.829024
age                        41.222576
signup_method               0.000000
signup_flow                 0.000000
language                    0.000000
affiliate_channel           0.000000
affiliate_provider          0.000000
first_affiliate_tracked     2.841402
signup_app                  0.000000
first_device_type           0.000000
first_browser               0.000000
country_destination         0.000000
dtype: float64

In [57]:
#Remove the attribute caklled 'feature data_first_booking'
users.drop('date_first_booking',axis=1,inplace=True)
new.drop('date_first_booking',axis=1,inplace=True)

In [58]:
users.age.describe()

count    125461.000000
mean         49.668335
std         155.666612
min           1.000000
25%          28.000000
50%          34.000000
75%          43.000000
max        2014.000000
Name: age, dtype: float64

In [59]:
# fix 'age' attribute because some ages are irrational
print("The age of users more than 120 has",sum(train.age > 120),"people")
print("The age of users less than 18 has",sum(train.age < 18),"people")
users.loc[users.age > 95, 'age'] = np.nan
new.loc[users.age > 95, 'age'] = np.nan
users.loc[users.age < 16, 'age'] = np.nan
new.loc[users.age < 16, 'age'] = np.nan

The age of users more than 120 has 781 people
The age of users less than 18 has 158 people

In [60]:
print (pd.value_counts(users['first_device_type'].values))

Mac Desktop           89600
Windows Desktop       72716
iPhone                20759
iPad                  14339
Other/Unknown         10667
Android Phone          2803
Android Tablet         1292
Desktop (Other)        1199
SmartPhone (Other)       76
dtype: int64

In [61]:
first_device_type_encoding = { 'Mac Desktop' : 1,
                             'iPhone' : 2,
                             'Windows Desktop' : 3,
                             'Android Phone' : 4,
                             'iPad' : 5,
                             'Android Tablet' : 6,
                             'Other/Unknown' : 7,
                             'Desktop (Other)' : 8,
                             'SmartPhone (Other)' : 9}
for data in [users,new]:
    data['first_device_type'] = data['first_device_type'].apply(lambda x: first_device_type_encoding[x])

In [62]:
print (pd.value_counts(users['signup_method'].values))

basic       152897
facebook     60008
google         546
dtype: int64

In [63]:
print (pd.value_counts(new['signup_method'].values))
new.loc[new['signup_method']=='weibo', 'signup_method'] = 'basic'
#new.replace({'signup_method':'weibo'}, 'basic')

basic       45325
facebook    14856
google       1892
weibo          23
dtype: int64

In [64]:
signup_method_encoding={'basic':1,
                        'facebook': 2,
                        'google':3}
for data in [users,new]:
    data['signup_method']=data['signup_method'].apply(lambda x:signup_method_encoding[x])

In [65]:
print (pd.value_counts(users['first_browser'].values))

Chrome                  63845
Safari                  45169
Firefox                 33655
-unknown-               27266
IE                      21068
Mobile Safari           19274
Chrome Mobile            1270
Android Browser           851
AOL Explorer              245
Opera                     188
Silk                      124
Chromium                   73
BlackBerry Browser         53
Maxthon                    46
Apple Mail                 36
IE Mobile                  36
Sogou Explorer             33
Mobile Firefox             30
RockMelt                   24
SiteKiosk                  24
Iron                       17
IceWeasel                  13
Pale Moon                  12
CometBird                  11
Yandex.Browser             11
SeaMonkey                  11
Camino                      9
TenFourFox                  8
wOSBrowser                  6
CoolNovo                    6
Opera Mini                  4
Avant Browser               4
Mozilla                     3
OmniWeb                     2
Crazy Browser               2
TheWorld Browser            2
Comodo Dragon               2
Opera Mobile                2
SlimBrowser                 2
Flock                       2
Outlook 2007                1
Epic                        1
Stainless                   1
IceDragon                   1
NetNewsWire                 1
PS Vita browser             1
Google Earth                1
Googlebot                   1
Kindle Browser              1
Palm Pre web browser        1
Conkeror                    1
Arora                       1
dtype: int64

In [66]:
users['first_browser'] = users['first_browser'].apply(lambda x: "Mobile_Safari" if x == "Mobile Safari" else x)
new['first_browser'] = new['first_browser'].apply(lambda x: "Mobile_Safari" if x == "Mobile Safari" else x)
major_browsers = ['Chrome', 'Safari', 'Firefox', 'IE', 'Mobile_Safari']
users['first_browser'] = users['first_browser'].apply(lambda x: 'Other' if x not in major_browsers else x)
new['first_browser'] = new['first_browser'].apply(lambda x: 'Other' if x not in major_browsers else x)
#after modified
print (pd.value_counts(users['first_browser'].values))

Chrome           63845
Safari           45169
Firefox          33655
Other            30440
IE               21068
Mobile_Safari    19274
dtype: int64

In [67]:
first_browser_encoding={'Chrome':1,
                        'Safari': 2,
                        'Firefox':3,
                        'Other':4,
                        'IE':5,
                        'Mobile_Safari':6}
for data in [users,new]:
    data['first_browser']=data['first_browser'].apply(lambda x:first_browser_encoding[x])

In [68]:
print(pd.value_counts(users['language'].values))

en    206314
zh      1632
fr      1172
es       915
ko       747
de       732
it       514
ru       389
pt       240
ja       225
sv       122
nl        97
tr        64
da        58
pl        54
cs        32
no        30
th        24
el        24
id        22
hu        18
fi        14
is         5
ca         5
hr         2
dtype: int64

In [69]:
major_language = ['en']
users['language'] = users['language'].apply(lambda x: 'Other' if x not in major_language else x)
new['language'] = new['language'].apply(lambda x: 'Other' if x not in major_language else x)
#after modified
print (pd.value_counts(users['language'].values))

en       206314
Other      7137
dtype: int64

In [70]:
language_encoding={'en':1,
                   'Other':2}
for data in [users,new]:
    data['language']=data['language'].apply(lambda x:language_encoding[x])

In [71]:
users.head()

,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,2010-06-28,20090319043255,NaN,NaN,2,0,1,direct,direct,untracked,Web,1,1,NDF
1,2011-05-25,20090523174809,MALE,38.0,2,0,1,seo,google,untracked,Web,1,1,NDF
2,2010-09-28,20090609231247,FEMALE,56.0,1,3,1,direct,direct,untracked,Web,3,5,US
3,2011-12-05,20091031060129,FEMALE,42.0,2,0,1,direct,direct,untracked,Web,1,3,other
4,2010-09-14,20091208061105,NaN,41.0,1,0,1,direct,direct,untracked,Web,1,1,US

In [72]:
print (pd.value_counts(users['first_affiliate_tracked'].values))

untracked        109232
linked            46287
omg               43982
tracked-other      6156
product            1556
marketing           139
local ops            34
dtype: int64

In [73]:
users.loc[users['first_affiliate_tracked'].isnull(), 'first_affiliate_tracked'] = "untracked"
new.loc[new['first_affiliate_tracked'].isnull(), 'first_affiliate_tracked'] = "untracked"

In [74]:
first_affiliate_tracked_encoding = {'untracked' : 1,
                                   'linked' : 2,
                                   'omg' : 3,
                                   'tracked-other' : 4,
                                   'product' : 5,
                                   'marketing' : 6,
                                   'local ops' : 7}
for data in [users,new]:
    data['first_affiliate_tracked'] = data['first_affiliate_tracked'].apply(lambda x: first_affiliate_tracked_encoding[x])
users.head()

,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,2010-06-28,20090319043255,NaN,NaN,2,0,1,direct,direct,1,Web,1,1,NDF
1,2011-05-25,20090523174809,MALE,38.0,2,0,1,seo,google,1,Web,1,1,NDF
2,2010-09-28,20090609231247,FEMALE,56.0,1,3,1,direct,direct,1,Web,3,5,US
3,2011-12-05,20091031060129,FEMALE,42.0,2,0,1,direct,direct,1,Web,1,3,other
4,2010-09-14,20091208061105,NaN,41.0,1,0,1,direct,direct,1,Web,1,1,US

In [75]:
print (pd.value_counts(users['affiliate_channel'].values))

direct           137727
sem-brand         26045
sem-non-brand     18844
other              8961
seo                8663
api                8167
content            3948
remarketing        1096
dtype: int64

In [76]:
affiliate_channel_encoding = {'direct' : 1,
                             'sem-brand' : 2,
                             'sem-non-brand' : 3,
                             'other' : 4,
                             'api' : 5,
                             'seo' : 6,
                             'content' : 7,
                             'remarketing' : 8}
for data in [users,new]:
    data['affiliate_channel'] = data['affiliate_channel'].apply(lambda x: affiliate_channel_encoding[x])

In [77]:
print (pd.value_counts(users['affiliate_provider'].values))

direct                 137426
google                  51693
other                   12549
craigslist               3471
bing                     2328
facebook                 2273
vast                      829
padmapper                 768
facebook-open-graph       545
yahoo                     496
gsp                       453
meetup                    347
email-marketing           166
naver                      52
baidu                      29
yandex                     17
wayn                        8
daum                        1
dtype: int64

In [78]:
users['affiliate_provider'] = users['affiliate_provider'].apply(lambda x: 'rest' if x not in ['direct', 'google', 'other'] else x)
new['affiliate_provider'] = new['affiliate_provider'].apply(lambda x: 'rest' if x not in ['direct', 'google', 'other'] else x)
print (pd.value_counts(users['affiliate_provider'].values))

direct    137426
google     51693
other      12549
rest       11783
dtype: int64

In [79]:
affiliate_provider_encoding = {'direct':1,
'google':2,
'other':3,
'rest':4}

for data in [users,new]:
    data['affiliate_provider'] = data['affiliate_provider'].apply(lambda x: affiliate_provider_encoding[x])

In [80]:
users.drop('date_account_created',axis=1,inplace=True)
new.drop('date_account_created',axis=1,inplace=True)
users.drop('timestamp_first_active',axis=1,inplace=True)
new.drop('timestamp_first_active',axis=1,inplace=True)

In [81]:
users.head()

,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,NaN,NaN,2,0,1,1,1,1,Web,1,1,NDF
1,MALE,38.0,2,0,1,6,2,1,Web,1,1,NDF
2,FEMALE,56.0,1,3,1,1,1,1,Web,3,5,US
3,FEMALE,42.0,2,0,1,1,1,1,Web,1,3,other
4,NaN,41.0,1,0,1,1,1,1,Web,1,1,US

In [82]:
print (pd.value_counts(users['signup_app'].values))

Web        182717
iOS         19019
Moweb        6261
Android      5454
dtype: int64

In [83]:
signup_app_encoding = {'Web' : 1,
                      'iOS' : 2,
                      'Android' : 3,
                      'Moweb' : 4}
for data in [users,new]:
    data['signup_app'] = data['signup_app'].apply(lambda x: signup_app_encoding[x])

In [84]:
users.loc[users['gender'].isnull(), 'gender'] = -1

In [85]:
# Encoding Female with 0, Male with 1 and Other with 2 in both test and train data
gender_translation = {'FEMALE' : 0,
                     'MALE' : 1,
                     'OTHER' : 2,
                     -1:-1}
for data in [users]:
    data['gender'] = data['gender'].apply(lambda x: gender_translation[x])

In [86]:
new.loc[new['gender'].isnull(), 'gender'] = 'FEMALE'
print(pd.value_counts(new['gender'].values))

FEMALE    48275
MALE      13769
OTHER        52
dtype: int64

In [87]:
gender_transform = {'FEMALE' : 0,
                     'MALE' : 1,
                     'OTHER' : 2}
for data in [new]:
    data['gender'] = data['gender'].apply(lambda x: gender_transform[x])

In [88]:
#modify missing data in age
print (users.age.mean())
print (new.age.mean())
users.loc[users['age'].isnull(), 'age' ] =users.age.mean()
new.loc[ new['age'].isnull(), 'age' ] = new.age.mean()

36.514069844987716
37.61667670078266

In [89]:
new['country_destination']=' '
new.head()

,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,0,35.000000,2,0,1,1,1,1,4,2,6,
1,0,37.616677,1,0,1,1,1,1,4,2,6,
2,0,37.616677,1,0,1,1,1,2,1,3,1,
3,0,37.616677,1,0,1,1,1,2,1,3,5,
4,0,37.616677,1,0,1,1,1,1,1,1,2,

In [90]:
users.to_csv('modified_train.csv',index=False,header=True)
new.to_csv('modified_test.csv',index=False,header=True)

# Random Forest

In [91]:
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn import cross_validation
from sklearn import grid_search
# use spark-sklearn for faster grid search
from spark_sklearn import GridSearchCV
import time

In [92]:
"""Metrics to compute the model performance."""
import numpy as np
from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import make_scorer

def dcg_score(y_true, y_score, k=5):
    """Discounted cumulative gain (DCG) at rank K.
    
    Parameters
    ----------
    y_true : array, shape = [n_samples]
        Ground truth (true relevance labels).
    y_score : array, shape = [n_samples, n_classes]
        Predicted scores.
    k : int
        Rank.
        
    Returns
    -------
    score : float
    """
    order = np.argsort(y_score)[::-1]
    y_true = np.take(y_true, order[:k])

    gain = 2 ** y_true - 1

    discounts = np.log2(np.arange(len(y_true)) + 2)
    return np.sum(gain / discounts)

def ndcg_score(ground_truth, predictions, k=5):
    """Normalized discounted cumulative gain (NDCG) at rank K.

    Normalized Discounted Cumulative Gain (NDCG) measures the performance of a
    recommendation system based on the graded relevance of the recommended
    entities. It varies from 0.0 to 1.0, with 1.0 representing the ideal
    ranking of the entities.

    Parameters
    ----------
    ground_truth : array, shape = [n_samples]
        Ground truth (true labels represended as integers).
    predictions : array, shape = [n_samples, n_classes]
        Predicted probabilities.
    k : int
        Rank.

    Returns
    -------
    score : float

    Example
    -------
    >>> ground_truth = [1, 0, 2]
    >>> predictions = [[0.15, 0.55, 0.2], [0.7, 0.2, 0.1], [0.06, 0.04, 0.9]]
    >>> score = ndcg_score(ground_truth, predictions, k=2)
    1.0
    >>> predictions = [[0.9, 0.5, 0.8], [0.7, 0.2, 0.1], [0.06, 0.04, 0.9]]
    >>> score = ndcg_score(ground_truth, predictions, k=2)
    0.6666666666
    """
    lb = LabelBinarizer()
    #lb.fit(range(len(predictions) + 1))  ## original
    #lb.fit(range(predictions.shape[1] + 1))
    #T = lb.transform(ground_truth)
    
    T = lb.fit_transform(ground_truth) 

    scores = []

    # Iterate over each y_true and compute the DCG score
    for y_true, y_score in zip(T, predictions):
        actual = dcg_score(y_true, y_score, k)
        best = dcg_score(y_true, y_true, k)
        score = float(actual) / float(best)
        scores.append(score)

    return np.mean(scores)

# NDCG Scorer function
ndcg_scorer = make_scorer(ndcg_score, needs_proba=True, k=5)

In [93]:
df_train=users.copy()
df_test=new.copy()

df_train.drop('country_destination', axis=1,inplace=True)
df_test.drop('country_destination', axis=1,inplace=True)
df_all = pd.concat((df_train, df_test), axis=0, ignore_index=True)

In [94]:
vals = df_all.values
piv_train = users.shape[0]
X = vals[:piv_train]
X_test = vals[piv_train:]

# Create numeric label for each of the 12 target labels
labels = users['country_destination'].values
le = LabelEncoder()
y = le.fit_transform(labels)

In [95]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
clf = RandomForestClassifier(n_estimators=25, random_state=101)
parameters = {'min_samples_split': [2, 20],
              'max_depth': [6, 8]
             }
reg = grid_search.GridSearchCV(clf, parameters, scoring=ndcg_scorer, cv=3)
#t0 = time.time()
reg.fit(X, y)
#print (time.time() - t0) / 60

GridSearchCV(cv=3, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=25, n_jobs=1,
            oob_score=False, random_state=101, verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'min_samples_split': [2, 20], 'max_depth': [6, 8]},
       pre_dispatch='2*n_jobs', refit=True,
       scoring=make_scorer(ndcg_score, needs_proba=True, k=5), verbose=0)

In [96]:
## get the best predictor## get t 
est = reg.best_estimator_
est

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=8, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=25, n_jobs=1,
            oob_score=False, random_state=101, verbose=0, warm_start=False)

In [97]:
reg.grid_scores_

[mean: 0.81973, std: 0.00376, params: {'max_depth': 6, 'min_samples_split': 2},
 mean: 0.81956, std: 0.00347, params: {'max_depth': 6, 'min_samples_split': 20},
 mean: 0.82063, std: 0.00403, params: {'max_depth': 8, 'min_samples_split': 2},
 mean: 0.81940, std: 0.00419, params: {'max_depth': 8, 'min_samples_split': 20}]

In [98]:
# look at how well the model predicts the training data
print ('Random Forest:\n', metrics.classification_report(y, est.predict(X)))

Random Forest:
              precision    recall  f1-score   support

          0       0.00      0.00      0.00       539
          1       0.00      0.00      0.00      1428
          2       0.00      0.00      0.00      1061
          3       0.00      0.00      0.00      2249
          4       0.00      0.00      0.00      5023
          5       0.00      0.00      0.00      2324
          6       0.00      0.00      0.00      2835
          7       0.67      0.89      0.76    124543
          8       0.00      0.00      0.00       762
          9       0.00      0.00      0.00       217
         10       0.51      0.38      0.44     62376
         11       0.00      0.00      0.00     10094

avg / total       0.54      0.63      0.57    213451

/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [99]:
# make predictions on test set
ypred_sub = est.predict_proba(X_test)
print (ypred_sub.shape ) ## should be (62096, 12)

# take the 5 classes with highest probabilities
id_test = test['id']
ids = []  # to hold ids
cts = []  # to hold top 1-5 predicted countries
for i in range(len(id_test)):
    idx = id_test[i]
    ids += [idx] * 5
    cts += le.inverse_transform(np.argsort(ypred_sub[i])[::-1])[:5].tolist()
    # use this value for cts for benchmark submission 
    #cts += ['NDF', 'US', 'other', 'FR', 'IT']
    
print (len(ids))  ## should be 310480
print (len(cts))

(62096, 12)
310480
310480

In [100]:
# stack ids and countries together into dataframe
sub = pd.DataFrame(np.column_stack((ids, cts)), columns=['id', 'country'])

# write dataframe to csv
sub.to_csv(path_or_buf='random_forest.csv', index=False)

# Add Adaboost Classifier on Random forest

In [101]:
from sklearn.ensemble import AdaBoostClassifier
rf = AdaBoostClassifier(RandomForestClassifier(n_estimators=25, random_state=101,min_samples_split=20,max_depth=10))
parameters ={'n_estimators':[50],'learning_rate':[0.01]}
abc = grid_search.GridSearchCV(rf,parameters,scoring = ndcg_scorer,cv=4)
abc.fit(X,y)

GridSearchCV(cv=4, error_score='raise',
       estimator=AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_s...=101, verbose=0, warm_start=False),
          learning_rate=1.0, n_estimators=50, random_state=None),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': [50], 'learning_rate': [0.01]},
       pre_dispatch='2*n_jobs', refit=True,
       scoring=make_scorer(ndcg_score, needs_proba=True, k=5), verbose=0)

In [102]:
print("The best parameters are %s with a score of %0.5f"
      % (abc.best_params_, abc.best_score_))

esti = abc.best_estimator_
esti

The best parameters are {'learning_rate': 0.01, 'n_estimators': 50} with a score of 0.82089

AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=20,
            min_weight_fraction_leaf=0.0, n_estimators=25, n_jobs=1,
            oob_score=False, random_state=101, verbose=0, warm_start=False),
          learning_rate=0.01, n_estimators=50, random_state=None)

In [103]:
print ('Random Forest:\n', metrics.classification_report(y, esti.predict(X)))

Random Forest:
              precision    recall  f1-score   support

          0       0.00      0.00      0.00       539
          1       0.00      0.00      0.00      1428
          2       0.00      0.00      0.00      1061
          3       0.00      0.00      0.00      2249
          4       0.00      0.00      0.00      5023
          5       0.00      0.00      0.00      2324
          6       0.00      0.00      0.00      2835
          7       0.69      0.86      0.77    124543
          8       0.00      0.00      0.00       762
          9       0.00      0.00      0.00       217
         10       0.50      0.47      0.49     62376
         11       0.00      0.00      0.00     10094

avg / total       0.55      0.64      0.59    213451

/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [104]:
ypred = esti.predict_proba(X_test)
print (ypred.shape) 

# take the 5 classes with highest probabilities
id_test1 = test['id']
ids1 = []  # to hold ids
cts1 = []  # to hold top 1-5 predicted countries
for i in range(len(id_test1)):
    idx1 = id_test1[i]
    ids1 += [idx1] * 5
    cts1 += le.inverse_transform(np.argsort(ypred[i])[::-1])[:5].tolist()
    # use this value for cts for benchmark submission 
    #cts += ['NDF', 'US', 'other', 'FR', 'IT']
    
print (len(ids))  ## should be 310480
print (len(cts))

(62096, 12)
310480
310480

In [105]:
# stack ids and countries together into dataframe
sub = pd.DataFrame(np.column_stack((ids1, cts1)), columns=['id', 'country'])

# write dataframe to csv
sub.to_csv(path_or_buf='adaboosting.csv', index=False)